.Button {
    background-color: transparent;
    border: none;
    color: #5C9210;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 5px;
    margin-left: 38px;
    font-weight: bold;
}

/* .Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
} */

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}



.Button:disabled {
    cursor: not-allowed;

}

.Button:not(:disabled) {
    animation: enable 0.3s linear;
}