.NavTools{
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    top:0; /* it wil fill all avail space in parent */
    left:0;
    align-items: center;
    box-sizing: border-box;
    padding:0 20px;
    z-index: 300;
    border-bottom: 1px solid #ccc;
    background-color: white;
    color: #00646b;
}

.Brand{
    border: none;
    font-size: xx-large;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

@media(max-width:499px){
    .DesktopOnly{
        display:none;
    }
}
